a {
  margin: 5px;
}

a, a:visited{
  color: blue;
}

a.active {
  color: red;
}

.content {
  border:1px solid red;
}

.header {
  border:1px solid blue;
}

.User {
  position: relative;
  background: lightblue;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  margin-top: 50px;
  margin-right: 10px;
}

.heading {
  color: red;
}